.home
{
	width: 100%;
	height: 150vh;
	
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider
{
	width: 100%;
	height: 100%;
background-image: url("../images/counterbg2.png");
background-size: contain;
background-repeat: no-repeat;
}
.home_slider_content
{
	position: absolute;
	top: 41%;
	left: 0;
	width: 100%;
	height: auto;
}
.home_slider_title
{
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
	color: var(--primary-dark);
}
.home_slider_subtitle
{
	font-size: 24px;
	color: var(--secondary-color);
	margin-top: 9px;
}




.card-wrapper {
	display: flex;
	gap: 20px;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	
  }
  .twelve{
	margin-top: 65px;
  }
  
  .card {
	width: 230px;
	background-color: var(--grey-1) ;
	box-shadow: 5px 4px 12px var(--primary) inset;
	border-radius: 8px;
	overflow: hidden;
	margin-left: 10px;
	position: relative;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	margin: 10px;
	text-shadow:  3px 4px var(--primary-light);
  }
  
  .card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 20px var(--primary-light);
  }
  
  .card__image img {
	width: 100%;
	height: 130px;
	object-fit: cover;
	border-bottom: 3px solid #f4f4f4;
  }
  .card-course{
	width: 25%;
  }
  .card__details {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary-light);
	height: 180px;
  }
  .banner {
	width: 90%;
	/* max-width: 800px; */
	height: 270px;
	margin: auto;
	text-align: left;
	padding: 40px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: #f3c769;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	top: 65px;
	margin-top: 20px;
	z-index: 1;
	overflow: hidden;
	transition: transform 1s ease-in-out; /* Zoom effect for the whole banner */
	
}

.banner img {
	width: 300px; /* Set image size to 300px */
	height: auto;
	border-radius: 10px;
	position: absolute;
	right: 20px;
	transition: transform 1s ease-in-out;
}

.banner-content {
	max-width: 70%;
	padding-left: 10px;
	line-height: 7px;
}

.banner-content h3 {
	color: black;
	font-weight: bold;
}

.banner-content p {
	color: #444;
	opacity: 1; /* No transition, just static text */
}

.highlight {
	color: red;
	font-weight: bold;
}